---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- Publications Section -->
<ul>
  <li>
    <strong>Neural Video Representation for Redundancy Reduction and Consistency Preservation</strong><br>
    Taiga Hayami, Takahiro Shindo, <strong>Shunsuke Akamatsu</strong>, Hiroshi Watanabe<br>
    To appear at IEEE ICCE 2025<br>
    <a href="https://arxiv.org/abs/2409.18497">[arXiv]</a>
  </li>
  <br>
  <li>
    <strong>Improving Image Coding for Machines through Optimizing Encoder via Auxiliary Loss</strong><br>
    Kei Iino, <strong>Shunsuke Akamatsu</strong>, Hiroshi Watanabe, Shohei Enomoto, Akira Sakamoto, Takeharu Eda<br>
    IEEE ICIP 2024<br>
    <a href="https://ieeexplore.ieee.org/document/10647577">[paper]</a>
  </li>
  <br>
  <li>
    <strong>Classification in Japanese Sign Language Based on Dynamic Facial Expressions</strong><br>
    Yui Tatsumi, Shoko Tanaka, <strong>Shunsuke Akamatsu</strong>, Takahiro Shindo, Hiroshi Watanabe<br>
    IEEE GCCE 2024<br>
    <a href="https://ieeexplore.ieee.org/document/10760997">[paper]</a>
  </li>
  <br>
  <li>
    <strong>On The Impact of Learning-based Image Compression on Computer Vision Tasks</strong><br>
    <strong>Shunsuke Akamatsu</strong>, Michela Testolina, Evgeniy Upenik, Touradj Ebrahimi<br>
    SPIE Applications of Digital Image Processing XLVII<br>
    <a href="https://www.spiedigitallibrary.org/conference-proceedings-of-spie/13137/131370M/On-the-impact-of-learning-based-image-compression-on-computer/10.1117/12.3030885.short">[paper]</a>
  </li>
  <br>
  <li>
    <strong>Bounding Box Aware Edge-Cloud Collaborative Method for Multiple Object Detection</strong><br>
    <strong>Shunsuke Akamatsu</strong>, Hiroshi Watanabe<br>
    IEEE AIC 2024<br>
    <a href="https://ieeexplore.ieee.org/document/10731035">[paper]</a>
  </li>
  <br>
  <li>
    <strong>Edge-Cloud Collaborative Object Detection Model with Feature Compression</strong><br>
    <strong>Shunsuke Akamatsu</strong>, Kei Iino, Hiroshi Watanabe, Shohei Enomoto, Akira Sakamoto, Takeharu Eda<br>
    IIEEJ IEVC 2024<br>
    <a href="https://www.ams.giti.waseda.ac.jp/data/pdf-files/2024IEVC_LBP-12.pdf">[paper]</a>
  </li>
  <br>
  <li>
    <strong>Image Coding for Machines with Objectness-based Feature Distillation</strong><br>
    Kei Iino, <strong>Shunsuke Akamatsu</strong>, Hiroshi Watanabe, Shohei Enomoto, Akira Sakamoto, Takeharu Eda<br>
    IIEEJ IEVC 2024<br>
    <a href="https://www.ams.giti.waseda.ac.jp/data/pdf-files/2024IEVC_LBP-07.pdf">[paper]</a>
  </li>
  <br>
  <li>
    <strong>Introduction of Auxiliary Loss in Deep Image Compression for Image Recognition</strong><br>
    Kei Iino, <strong>Shunsuke Akamatsu</strong>, Hiroshi Watanabe, Shohei Enomoto, Akira Sakamoto, Takeharu Eda<br>
    IEICE 2024<br>
    <a href="https://www.ams.giti.waseda.ac.jp/data/pdf-files/2024IEICE_D-12A-37.pdf">[paper]</a>
  </li>
  <br>
  <li>
    <strong>A Video Object Detection Method of ECNet Based on Frame Difference and Grid Cell Confidence</strong><br>
    <strong>Shunsuke Akamatsu</strong>, Kei Iino, Hiroshi Watanabe, Shohei Enomoto, Xu Shi, Akira Sakamoto, Takeharu Eda<br>
    IEEE GCCE 2023<br>
    <a href="https://ieeexplore.ieee.org/abstract/document/10315349">[paper]</a>
  </li>
</ul>

<!-- Link to Google Scholar Profile -->
<!-- {% if author.googlescholar %} -->
  <p>You can also find my articles on <a href="{{author.googlescholar}}">my Google Scholar profile</a>.</p>
<!-- {% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->
